header {
    background: #bbbbbb;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    list-style-type: none;
    text-decoration: none;
}
