header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    list-style-type: none;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 50px 0;
    margin: 50px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 2px #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active {
    border-color: #088c19;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li p:nth-child(odd) {
    font-size: 18px;
}

.produtos li p:nth-child(even) {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
