#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {
    background: white;
}

.item {
    font-style: italic;
}

h2 {
    text-align: center;
}
