#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {
    background: white;
    padding: 20px;
}

.item {
    font-style: italic;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-beneficios {
    width: 50%;
}
